.wya-container{
    margin: 30px 15px;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
}


.wya-title{
    color: #099d8d;
    font-family: 'Open Sans', sans-serif;
}

.wya-adalabers{
    list-style: none;
    flex-direction: row;
    margin: 30px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wya-adalaber{
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 768px){
    .wya-adalaber{
        display: flex;
    }

    .wya-adalabers .wya-adalaber:nth-child(even)
    .wya-ada-img{
        order: 2;
    }

}

.wya-img-adalaber{
    width: 180px;
    height: 180px;;
}

.wya-name-adalaber{
    color: black;
}

.wya-bio-adalaber{
    align-items: center;
    color:#54585a;
    bottom: 30px;
}

.wya-social-networks{
    margin: 20px;
    padding: 0;
    padding-bottom: 50px; 
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #099d8d;
    justify-content: center;
    
}

.wya-social-network{
    flex-direction: column;
    color: #099d8d;
    padding: 10px;
    justify-content: center;
}