<section class="form">
  <div class="info">
    <h2>Contacto</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates doloremque, architecto enim commodi nobis
      voluptatibus odit quibusdam quam beatae quae magni. Architecto iusto ducimus quo suscipit voluptatem quidem ad ex?
    </p>
    <small>Todos los campos marcados con * son obligatorios.</small>
  </div>

  <div class="data">
    <form action="" method="POST">
      <div class="div">
        <label for="name">Nombre completo *</label>
        <input placeholder="Nombre..." type="text" name="name" id="name" required>
      </div>

      <div class="div">

        <div class="div">
          <label for="email">Email *</label>
          <input value="nombre.apellidos@mail.com" type="email" name="email" id="email" required></div>
        <div class="div">
          <label for="telephone">Teléfono</label>
          <input placeholder="Ej: 123456789" type="number" name="telephone" id="telephone"></div>
      </div>

      <div class="div"><label for="mensaje">Mensaje *</label>
        <textarea placeholder="¿Qué necesitas?" type="text" name="mensaje" id="mensaje" rows="8" cols="20"
          required></textarea></div>

    </form>
  </div>


</section>
