<header class="header">
    <h1 class="header-h1"><a href="/" class="link-fivedrops"><img src="../../assets/images/logofd.png" alt="logo FiveDrops" class="logofd"></a></h1>
    <nav class="header-nav">
        <ul class="header-nav-ul">
            <li class="header-nav-li"> <a class="header-nav-link" href="index.html#team_link">Equipo</a> </li>
            <li class="header-nav-li"> <a class="header-nav-link" href="index.html#wya_link">Quienes somos</a> </li>
            <li class="header-nav-li"> <a class="header-nav-link" href="#">Contacto</a> </li>
        </ul>
    </nav>
<header>