<header class="header">
  <section class="header__container-h1">
    <h1 class="header-h1"><a href="/" class="link-fivedrops">FiveDrops</a></h1>
  </section>


  <nav class="header-nav">
    <div class="header__nav-container">
      <ul class="header-nav-ul">
        <li class="header-nav-li"> <a class="header-nav-link" href="#team_link">Equipo</a> </li>
        <li class="header-nav-li"> <a class="header-nav-link" href="#wya_link">Quienes somos</a> </li>
        <li class="header-nav-li"> <a class="header-nav-link" href="contact.html">Contacto</a> </li>
      </ul>
    </div>
  </nav>

</header>
