<section class="team_sw">

    <div class="team_anchor" id="team_link"></div>



    <div class="team-background">
        <div class="central-container">
            <div class="team-title">
                <h2 class="team-h2">EQUIPO</h2>
            </div>
            <P class="team-p">

                Somos un grupo de mujeres formadas en los más diversos ámbitos que hemos decidido dar un giro a
                nuestras vidas para convertirnos en profesionales en desarrollo web.
            </P>
            <P class="team-p">
                Vamos a construir nuestro
                futuro aprendiendo de nuestras compañeras y de la comunidad, y a demostrar que las mujeres
                dentro
                del mundo digital ¡ya no son una rareza!
            </P>
        </div>
    </div>
    </div>
    <aside>

        <div class="team-detail"> </div>
        <div class="sw-background">
            <div class="central-container">
                <div class="strengths">
                    <h3 class="sw-h3">
                        Fortalezas
                    </h3>

                    <p class="sw-text sw-text-tablet-strengths">
                        Somos un equipazo. Con nuestro background multidisciplinar, nuestra capacidad de
                        adaptación
                        al cambio, nuestra proactividad,
                        disposición continua hacia el aprendizaje, motivación y compromiso vamos a poder con
                        todo.

                    </p>
                </div>
                <div class="weaknesses">
                    <h3 class="sw-h3 sw-h3-weaknesses">
                        Debilidades
                    </h3>
                    <p class="sw-text sw-text-tablet-weaknesses">
                        ¡Somos nuevas en ésto! Es nuestro primer contacto con éste sector, por lo que no tenemos
                        mucha experiencia y aún podemos mejorar en soft skills como gestión de tiempos y de
                        estŕes.
                        Pero no hay nada que la experiencia y las ganas no puedan mejorar.

                </div>
            </div>

        </div>
        </div>
    </aside>
</section>
