<section class="wya">
    <div class="wya_anchor" id="wya_link"></div>

    <div class="central-container">
        <h2 class="wya-title" id="wya-title">QUIÉNES SOMOS</h2>
        <ul class="wya-adalabers">
            <!-- Alexandra  -->
            <li class="wya-adalaber adalaber1">
              <div class="wya--grid">
                <div class="wya-ada-img">
                    <img class="wya-img-adalaber" src="assets/images/Alexandra.jpg" alt="Alexandra">
                </div>
                <div class="wya-container-bio-adalaber">
                    <h3 class="wya-name-adalaber">Alexandra Jara</h3>
                    <p class="wya-bio-adalaber">Conocí la programación front-end antes de realizar mis estudios
                        de
                        Imagen y Sonido, cuando &lt;b&gt; e &lt;i&gt; estaban de moda. Soy perfeccionista, proactiva y
                        autoexigente. Creo firmemente que el futuro es tecnológico, y he decidido adaptarme a él
                        de
                        la mano de Adalab.</p>
                    <ul class="wya-social-networks">
                        <li><a class="wya-iconos" href="https://twitter.com/alexandrajaramz"
                                target="_blank"><i class="fab fa-twitter"></i></a>·</li>
                        <li><a class="wya-iconos" href="https://www.linkedin.com/in/alexandrajaramz"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a>·</li>
                        <li><a class="wya-iconos" href="https://github.com/AlexandraJara"
                                target="_blank"><i class="fab fa-github-alt"></i></a>·</li>
                        <li><a class="wya-iconos" href="mailto:alexandra.jara.mz@gmail.com"
                                target="_blank"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>

              </div>
            </li>

            <!-- Alba -->
            <li class="wya-adalaber adalaber2">
                <div class="wya--grid">
                <div class="wya-ada-img">
                    <img class="wya-img-adalaber" src="../assets/images/Alba.jpg" alt="Alba">
                </div>
                <div class="wya-container-bio-adalaber">
                    <h3 class="wya-name-adalaber">Alba Gómez</h3>
                    <p class="wya-bio-adalaber">Vengo del mundo creativo. Como diseñadora de moda puedo aportar
                        el
                        gusto por las cosas bien hechas, la perseverancia y los buenos detalles.
                        Mi éxito como desarrolladora web será la motivación, el esfuerzo y la constancia.
                        Amante del arte, el diseño y del constante aprendizaje.
                    </p>
                    <ul class="wya-social-networks">
                        <li><a class="wya-iconos" href="https://twitter.com/GomezPerezAlba"
                                target="_blank"><i class="fab fa-twitter"></i></a>·</li>
                        <li><a class="wya-iconos" href="https://www.linkedin.com/in/albagomezperez"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a>·</li>
                        <li><a class="wya-iconos" href="https://github.com/AlbaGomezPerez"
                                target="_blank"><i class="fab fa-github-alt"></i></a>·</li>
                        <li><a class="wya-iconos" href="mailto:albagope@gmail.com" target="_blank"><i
                                    class="fas fa-envelope"></i></a></li>
                    </ul>
                  </div>
              </div>
            </li>

            <!-- Beatriz -->
            <li class="wya-adalaber adalaber3">
                <div class="wya--grid">
                <div class="wya-ada-img">
                    <img class="wya-img-adalaber" src="../assets/images/Beatriz.jpg" alt="Beatriz">
                </div>
                <div class="wya-container-bio-adalaber">
                    <h3 class="wya-name-adalaber">Beatriz Pascual</h3>
                    <p class="wya-bio-adalaber">Llegue al mundo del diseño gráfico por ser curiosa y tratar de
                        encontrar soluciones creativas a diferentes problemas. Un día el mundo digital llamo a
                        mi
                        puerta y decidí subirme este tren de la mano de Adalab para seguir mi camino como
                        desarrolladora front-end.
                    </p>
                    <ul class="wya-social-networks">
                        <li><a class="wya-iconos" href="https://twitter.com/BeatrizPascualS"
                                target="_blank"><i class="fab fa-twitter"></i></a>·</li>
                        <li><a class="wya-iconos" href="https://www.linkedin.com/in/beatrizpasan"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a>·</li>
                        <li><a class="wya-iconos" href="https://github.com/PascualSBeatriz"
                                target="_blank"><i class="fab fa-github-alt"></i></a>·</li>
                        <li><a class="wya-iconos" href="mailto:pascualsbeatriz@gmail.com"
                                target="_blank"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
                </div>
            </li>

            <!-- Rocío -->
            <li class="wya-adalaber adalaber4">
                <div class="wya--grid">
                <div class="wya-ada-img">
                    <img class="wya-img-adalaber" src="../assets/images/Rocio.jpg" alt="Rocío">
                </div>
                <div class="wya-container-bio-adalaber">
                    <h3 class="wya-name-adalaber">Rocío Fernández</h3>
                    <p class="wya-bio-adalaber">Formada en Derecho y mediación de conflictos, bibliófila y
                        cinéfila,
                        mi autodefinición como persona de letras se desmoronó de golpe cuando descubrí la
                        programación y fue amor a primera vista. Llena de curiosidad por todo lo que me rodea,
                        perseverante y en reinvención continua, estoy fascinada por los conocimientos que estoy
                        adquiriendo y decidida a formar parte de ésta comunidad.</p>
                    <ul class="wya-social-networks">
                        <li><a class="wya-iconos" href="#" target="_blank"><i
                                    class="fab fa-twitter"></i></a>·</li>
                        <li><a class="wya-iconos" href="#" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a>·</li>
                        <li><a class="wya-iconos" href="#" target="_blank"><i
                                    class="fab fa-github-alt"></i></a>·</li>
                        <li><a class="wya-iconos" href="mailto:#" target="_blank"><i
                                    class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
                </div>
            </li>

            <!-- Cristina -->
            <li class="wya-adalaber adalaber5">
                <div class="wya--grid">
                <div class="wya-ada-img">
                    <img class="wya-img-adalaber" src="../assets/images/Cristina.jpg" alt="Cristina">
                </div>
                <div class="wya-container-bio-adalaber">
                    <h3 class="wya-name-adalaber">Cristina González</h3>
                    <p class="wya-bio-adalaber">Me considero una persona paciente y trabajadora cual
                        hormiguilla,
                        que se adentra en el apasionante mundo del front de la mano de Adalab. Tras trabajar dos
                        años en el mundo del back, he decidido enfocar mi carrera profesional en el marco
                        digital,
                        porque me apasiona. Graduada en Ingeniería de Sistemas de Comunicaciones en la
                        universidad
                        Carlos III de Madrid.</p>
                    <ul class="wya-social-networks">
                        <li><a class="wya-iconos" href="https://twitter.com/cristina_glezr"
                                target="_blank"><i class="fab fa-twitter"></i></a>·</li>
                        <li><a class="wya-iconos"
                                href="https://www.linkedin.com/in/cristina-glez-rubio/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a>·</li>
                        <li><a class="wya-iconos" href="https://github.com/cgonzaru" target="_blank"><i
                                    class="fab fa-github-alt"></i></a>·</li>
                        <li><a class="wya-iconos"
                                href="mailto:cristina.glez.rubio@gmail.com?subject=feedback " target="_blank"><i
                                    class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
                </div>
            </li>

        </ul>
    </div>
</section>
