<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FiveDrops</title>
  <link rel="stylesheet" href="assets/css/contact.css">
</head>
<body>

    <partial src="_header-contact.html"></partial>

    <main>

        <partial src="_hero-contact.html"></partial>

        <partial src="_form-contact.html"></partial>

    </main>

    <partial src="_footer-contact.html"></partial>

</body>
</html>
