
  body {
    position: relative;
}
   /* FOOTER */

   .footer {
    font-size: 14px;
    text-align: center;
    color:#b8b8b9;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #b8b8b9;

}


.footer-nav-ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

.footer-link-a {
    color: #54585a;
    text-decoration: none;
    font-weight: bold;


}


.footer-links {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-logo {
    height:45px;
    width: 115,9px;
    margin-bottom: 45px;

.footer__container {
  margin-right:15px;
  margin-left:15px;
}


}
/* se pone así el logo en el footer? */

@media all and (min-width:768px) {



    .footer{
        margin:0;
        position:relative;
        padding-bottom:40px;
        border-top: 1px solid #b8b8b9;
    }

    .footer-links{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        padding:0 50px;
    }

    .footer-nav-ul{
        margin:0;
        padding:7px 0;
        flex-direction:row;

    }

    .footer-copy {
        padding-top: 10px;
    }

    .footer-nav-li {
        text-align:right;
        color: #54585a;
        padding-top:8px;
        text-transform: uppercase;
    }

    .footer-logo {
        display:flex;
        flex-direction:column;
        position:absolute;
        top:0;
        left:80px;
        margin-top:65px;
        margin-bottom: 50px;
    }

    .footer__container {
      margin-right:45px;
      margin-left:45px;
    }


}


@media all and (min-width:1200px) {

  .footer-logo {
    position:absolute;
    top:0;
    left:300px;

}

  .footer__container {
    margin-right:auto;
    margin-left:auto;
    width:924px;

  }

}

