body {
  margin: 0;
}

.hero__section {
  background-image: url(../images/campus1.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index:1;
}

.hero__claimbox {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  transform: translateY(50%);

}

.hero__claim {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
}


/* MEDIAQUERIE TABLET */
@media all and (min-width: 768px) {
  .hero__background {
      justify-content: left;
  }
  .hero__claimbox {
      transform: translateY(0%);
      transform: translateX(-15vw);
      max-width: 440px;
      background-color: rgba(255,255,255,0.8);
  }
}

/* MEDIAQUERIE DESKTOP */
@media all and (min-width: 1200px) {
  .hero__claimbox {
      transform: translateX(-10vw);
      margin-left: 140px;
      max-width: 570px;
  }
}
