.wya-container{
    margin: 30px 15px;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
}


.wya-title{
    color: #099d8d;
    font-family: 'Rubik', sans-serif;
}

.wya-adalabers{
    list-style: none;
    flex-direction: row;
    margin: 30px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wya-adalaber{

    
}

@media all and (min-width: 768px){
    .wya-adalaber:nth-child(odd) {
        display: flex;
        text-align: left;
    }

    .wya-adalaber:nth-child(even) {
        display: flex;
        text-align: right;
    }

    .wya-adalabers .wya-adalaber:nth-child(even)
    .wya-ada-img{
        order: 2;
    }

    .wya-container-bio-adalaber{
        margin: 20px;
    }
    
    .wya-name-adalaber{
        padding-bottom: 10px;
    }
    
    .wya-social-networks{
        justify-content: flex-start;
        /* display: none;
        margin: 0;
        padding-left:0;  */        
    }

}

.wya-img-adalaber{
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08); 
}

.wya-name-adalaber{
    color: black;
}

.wya-bio-adalaber{
    align-items: center;
    color:#54585a;
    bottom: 30px;
}

.wya-social-networks{
    margin: 20px;
    padding: 0;
    /* padding-bottom: 50px;  */
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #099d8d;
    justify-content: center;
    
}

.wya-social-network{
    flex-direction: column;
    color: #099d8d;
    padding: 10px;
    justify-content: center;
}