* {
    box-sizing: border-box;
    margin: 0px;
  }

  body {
    position: relative; 
    top: 90px; 
    
}

.header {
    position: fixed;  
    width: 100vw; 
    z-index:2;
    top: 0; 
    left: 0; 
    text-align: center;
    text-transform: uppercase; 
}


.header-h1 {
            background-color: #099d8d;
            opacity: 0.95; 
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            color: white; 
            padding: 15px 0;
            line-height: 30px; 
                 
}

    .header-nav {
                background-color: #14d9c4; 
                opacity: 0.90; 
                font-family: 'Rubik', sans-serif;
                font-size: 15px; 
                color: white; 
                line-height: 30px; 
                display: flex; 
                text-align: center; 
                justify-content: center; 

}

                .header-nav-ul {
                    list-style: none; 
                    display: flex; 
                }

                .header-nav-li{
                    margin-right:20px;
                }

                .header-nav-link {
                    color: white; 
                    text-decoration: none;
                    font-weight: bold; 
                   
                }

                .header-nav-li {
                    margin-right: 20px; 
                }

                .header-nav-li:last-child {
                    margin-right: 0;
                }

@media all and (min-width:480px){
    .header {
        display: flex; 
        flex-wrap: wrap; 
        background: #099d8d; 
        justify-content: space-between; 
       
         
    }

    .header-nav{
        background-color:  #099d8d; 
        align-items: center; 
        margin-right:100px;
        }

        .header-nav-li{
        margin-right: 80px;
        }


        .header-h1{
            margin-left:100px;
        }
   }


.footer { 
    font-size: 14px;
    text-align: center; 
    color:#b8b8b9;
    font-family: 'Open Sans', sans-serif;
    
    /* top: 100;  */
}


.footer-nav-ul {
    list-style: none;
    margin-top: 20px;
}

.footer-link-a {
    color: #54585a;
    text-decoration: none; 
    font-weight: bold;

    
}


.footer-links {
    margin-top: 20px; 
    margin-bottom: 30px; 
}

.footer-logo {
    height:45px; 
    width: 115,9px; 
}
/* se pone así el logo en el footer? */

@media all and (min-width:480px) {
    .footer{
        margin:0;
        position:relative;
        padding-bottom:40px;
        border-top: 1px solid #b8b8b9; 
    }

    .footer-links{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        padding:0 50px;
    }

    .footer-nav-ul{
        margin:0;
        padding:7px 0;
        flex-direction:row;
        
    }

    .footer-nav-li {
        text-align:right;
        color: #54585a;
        padding-top:8px;
        text-transform: uppercase;
    }

    .footer-logo {
        display:flex;
        flex-direction:column;
        padding-left:40px;
        position:absolute;
        top:0;
        left:0;
        margin-top:45px;
        



    }


}
